body {
    background-color: black;
    color: white;
}

.dropdown1 {
    text-align: center;
    opacity: 1.0;
    font-size: 55px;
}

.dropdown1 li:hover {
    opacity: .096;
    cursor: pointer;
}

li {
    text-decoration: none;
}

.parent {
    padding-top: 21%;
    border-radius: 69px;
    border-color: white;
  }
  